---
excerpt: none
---

{% include head.html %}
<body class="no-js layout-claim">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main" class="page">
    <div class="wrapper">

        <h1>File a claim</h1>
        <p>Some basic information about the claim process, such as how claims work, lead time, when it can begin, how long it usually takes, etc.</p>
        
        <ul>
          <li><a href="{{ site.baseurl }}/claims/new/">File a claim online</a></li>
          <li>File by phone: 555-555-5555</li>
            <li>[some information about office hours, wait times, etc.]</li>
          <li><a href="#">Print and mail a paper form</a></li>
          <li>[add link to your state's paper form]</li>

    </div>
  </main>
  {% include site-footer.html %}
</body>
