---
excerpt: none
title: Eligibility
---

{% include head.html %}
<body class="no-js layout-page layout-page-eligibility">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main" class="page">
    <div class="wrapper">
      <h1>Eligibility</h1>
      <p>Eligibility for [State name]&rsquo;s paid family medical leave program depends on a number of factors. Use the following questionnaire to determine your own eligibility:</p>

      <h2>I am&hellip;</h2>
      <p>Check all that apply</p>
      <div class="field field-checkbox">
        <label>
          <input type="checkbox" name="">
          <span class="label-text">Currently employed and have worked for my employer for at least one year.</span>
        </label>  
      </div>
      <div class="field field-checkbox">
        <label>
          <input type="checkbox" name="">
          <span class="label-text">Paying payroll taxes and have paid them for the past year.</span>
        </label>  
      </div>
      <div class="field field-checkbox">
        <label>
          <input type="checkbox" name="">
          <span class="label-text">Managing a medical issue or temporary disability that requires me to take considerable time off of work.</span>
        </label>  
      </div>
      <div class="field field-checkbox">
        <label>
          <input type="checkbox" name="">
          <span class="label-text">The parent of a newborn.</span>
        </label>  
      </div>
      <div class="field field-checkbox">
        <label>
          <input type="checkbox" name="">
          <span class="label-text">The legal guardian of a newly adopted child.</span>
        </label>  
      </div>
      <div class="field field-checkbox">
        <label>
          <input type="checkbox" name="">
          <span class="label-text">The primary caretaker of a family member (spouse, parent, sibling, or other close relative) who is experiencing a major medical issue or temporary disability.</span>
        </label>  
      </div>
      
     <p>If you checked the first two boxes and at least one other box, you may be eligible for up to four weeks of paid leave. Visit the <a href="{{site.baseurl}}/estimator/">estimator page</a> to get a sense of how much you might receive, or visit the <a href="{{site.baseurl}}/claims/new/">file a claim</a> page to start the claims process.</p>
     
    </div>
  </main>
  {% include site-footer.html %}
</body>
