---
excerpt: none
---

{% include head.html %}
<body class="no-js layout-check-claim-status">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main" class="page">
    <div class="wrapper">
      <h1>Employers</h1>
      <p>In addition to the information below, it is important for claimants and employers to understand their roles and responsibilities in ensuring that information is reported accurately and benefits are paid appropriately. Committing fraud has serious consequences. Learn more on Fraud and Penalties: What You Need to Know or review our Recent Fraud Convictions.</p>
    </div>
  </main>
  {% include site-footer.html %}
</body>

