---
excerpt: none
---

{% include head.html %}

<script src="{{site.baseurl}}/javascripts/estimator.js"></script>

<body class="no-js layout-estimator">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main">
    <div class="wrapper">

      <div id="estimator-form">
        <form id="claim" name="claim">
       
          <h1>Around what date would you like your claim to <strong>begin?</strong></h1>
          <div class="field field-date">
            <label>
              <span class="label-text">Start date</span>
              <input type="date" name="claim_start_date" id="start_date" value="">
            </label>
          </div>
          
          <div id="earnings">
            <h1>Enter your earnings for the year preceding your claim, <strong><time id="start_date_formatted"></time> through <time id="end_date_formatted"></time>.</strong></h1>
            <div class="field field-number">
              <label>
                <span class="label-text">Annual salary during your base period</span>
                <input type="number" name="claim_annual_salary" id="annual_salary" max="1000000">
              </label>
            </div>
          
            <button id="submit">Calculate</button>
          </div>

        </form>
      </div>

      <div id="estimator-results">
         <h1>Your estimated weekly benefit is <strong>$<span id="estimated_benefit"></span>.</strong></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          <p><a href="{{site.baseurl}}/estimator">Start over</a></p>
      </div>

      <aside class="secondary-content">
        {% include estimator-aside.html %}
      </aside>
    </div>
  </main>
  {% include site-footer.html %}
</body>
