---
title: Forms and Publications
---

{% include head.html %}
<body class="no-js layout-page layout-page-eligibility">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main" class="page">
    <div class="wrapper">
      <h1>Forms and publications</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
      <h2>Forms</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>New claim form</td>
            <td>
              <ul>
                <li><a href="#">View as PDF</a></li>
                <li><a href="#">Request a copy</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Supplemental information form</td>
            <td>
              <ul>
                <li><a href="#">View as PDF</a></li>
                <li><a href="#">Request a copy</a></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <h2>Publications</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Program overview</td>
            <td>
              <ul>
                <li><a href="#">View as PDF</a></li>
                <li><a href="#">Request a copy</a></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
  {% include site-footer.html %}
</body>
