---
excerpt: none
---

{% include head.html %}
<body class="no-js layout-page layout-page-eligibility">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main" class="page">
    <div class="wrapper">
      <h1>Forms and publications</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
      <ul>
        <li><a href="#">Paper claim form (PDF)</a></li>
      </ul>
    </div>
  </main>
  {% include site-footer.html %}
</body>
