---
excerpt: none
---

{% include head.html %}
<body class="no-js layout-page layout-page-healthcare-providers">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main" class="page">
    <div class="wrapper">
      <h1>Healthcare providers</h1>
      <p>Healthcare providers play a critical role in <a href="{{site.baseurl}}/claims/how-it-works">the filing and processing of paid family medical leave benefits</a>. Healthcare providers are required to submit supplemental information that will help the state evaluate a claim for benefits.</p>
      <h2>Providing supplemental information</h2>
      <p>Healthcare providers have two options for providing information about their patients. First, healthcare providers can <a href="{{site.baseurl}}/forms-and-publications">print or request a copy of the supplemental information form</a>.</p>
      <p>Second, healthcare providers can provide supplemental information through this website itself. All claimants are given a verification code to pass along to their healthcare provider after filing a claim for benefits online. Healthcare providers can use this code to <a href="{{site.baseurl}}/claims/verify">sign in and provide supplemental information</a>.</p>
      <h2>Our review process</h2>
      <p>[State name] takes the following factors into account when reviewing the information submitted by healthcare providers :</p>
      <ul>
        <li>The quality, accuracy, and timeliness of medical certifications. </li>
        <li>The diagnosis, International Classification of Diseases (ICD) codes, and estimated recovery dates.</li>
      </ul>
      <p>[State name] cross-references the information submitted by the person filing the claim with the information submitted by healthcare providers. When an estimated recovery date for a specific diagnosis is substantially more we would normally expect, [State name] will reach out to the implicated parties for additional information. In special circumstances, we may send the person filing for benefits to an independent medical examiner for a second opinion regarding their ability to perform their regular and customary work.
      <h2>Injury</h2>
      <p>If a patient has an industrial related illness or injury, healthcare providers are encouraged to have the patient contact his/her employer regarding workers&rsquo; compensation benefits.</p>
    </div>
  </main>
  {% include site-footer.html %}
</body>

