---
title: Healthcare Providers
---

{% include head.html %}
<body class="no-js layout-page layout-page-healthcare-providers">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main" class="page">
    <div class="wrapper">
      <h1>Healthcare providers</h1>
      <p>Healthcare providers play a critical role in <a href="{{site.baseurl}}/claims/how-it-works/">the <abbr title="paid family medical leave">PFML</abbr> claims process</a>: healthcare providers submit supplemental information that helps the state evaluate a claim for benefits.</p>
      <h2>Providing supplemental information</h2>
      <p>As a healthcare provider, you have two options for providing information about your patients. First, you can <a href="{{site.baseurl}}/forms-and-publications/">print or request a copy of the supplemental information form</a>.</p>
      <p>Second, you can provide supplemental information through this website itself. Each claimants is given a verification code that they will pass along to you after they file their claim online. You can use this code to <a href="{{site.baseurl}}/claims/verify/">sign in and provide supplemental information</a>.</p>
      <h2>Our review process</h2>
      <p>[State name] takes the following factors into account when reviewing the information you submit:</p>
      <ul>
        <li>The quality, accuracy, and timeliness of your medical certifications. </li>
        <li>The diagnosis, International Classification of Diseases (ICD) codes, and estimated recovery dates.</li>
      </ul>
      <p>[State name] cross-references the information the claimant submits with the information you submit. When an estimated recovery date for a specific diagnosis is substantially more we would normally expect, [State name] will reach out to the implicated parties for additional information. In special circumstances, we may send the person filing for benefits to an independent medical examiner for a second opinion regarding their ability to perform their regular and customary work.
      <h2>Injury</h2>
      <p>If a patient has an industrial-related illness or injury, you’re encouraged to have them contact their employer regarding workers’ compensation benefits.</p>
    </div>
  </main>
  {% include site-footer.html %}
</body>

