---
excerpt: none
---

{% include head.html %}
<body class="no-js layout-page layout-page-healthcare-providers">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main" class="page">
    <div class="wrapper">
      <h1>Healthcare providers</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      <p>Any <a href="{{site.baseurl}}/eligibility">eligible</a> member of the public can initiate the <a href="{{site.baseurl}}/claims/how-it-works">benefits-claims process</a> by filing a claim online. Immediately after the form is submitted, claimants are asked to their healthcare providers to <a href="{{site.baseurl}}/claims/verify">validate</a> their claim.</p>
    </div>
  </main>
  {% include site-footer.html %}
</body>

