---
excerpt: none
permalink: /
---

{% include head.html %}
<body class="no-js layout-index">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main" class="page">
    <div class="wrapper">
      <h1>Paid Family Medical Leave</h1>

      <p>Under the Family Leave Insurance provision of the [State name] Temporary Disability Benefits Law, cash benefits may be payable for up to six (6) weeks to:</p>
      <ul>
        <li><a href="#">Bond with a newborn or newly adopted child</a>, or to</li>
        <li><a href="#">Care for a seriously ill family member</a></li>
      </ul>

      <p>Most workers who take family leave within 14 days of their last day of work in covered [State name] employment are covered for family leave insurance under the State Plan or an approved Private Plan. If you are not sure of your coverage you should ask your employer.</p>

      <p>If your family leave begins more than 14 days after your last day of work in covered [State name] employment, your claim will be forwarded to our Family Leave During Unemployment section.</p>

      <p>For additional information on any of the program areas, click on the link below.</p>
      <ul>
        <li><a href="#">State Plan Family Leave Program</a></li>
        <li><a href="#">Private Plan Family Leave Program</a></li>
        <li><a href="#">Family Leave During Unemployment Program</a></li>
      </ul>
    </div>
  </main>
  {% include site-footer.html %}
</body>