---
excerpt: none
---

{% include head.html %}
<body class="no-js layout-page">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main" class="page">
    <div class="wrapper">
      <a class="a-back" href="{{site.baseurl}}/estimator">Return to the estimator</a>
      <h1>Calculating Paid Family Leave Benefit Payment Amounts</h1>
      <p>Your weekly benefit amount is calculated based on your past earnings and equals approximately 55 percent of your earnings up to the maximum weekly benefit amount. You may receive up to 6 weeks of Paid Family Leave (PFL) benefits in a 12 month period. The daily benefit amount is calculated by dividing your weekly benefit amount by seven. The maximum benefit amount is calculated by multiplying your weekly benefit amount by 6 or adding the total wages subject to SDI tax paid in your base period, whichever is less.</p>
      <p>For claims beginning on or after January 1, 2016, weekly benefits range from $50 to a maximum of $1,129. To qualify for the maximum weekly benefit amount ($1,129) you must earn at least $26,070.92 in a calendar quarter during your base period. Your weekly benefit payment amount may vary if you receive other income while receiving PFL benefits from the Employment Development Department (EDD) (such as sick leave pay, paid time off, etc.).</p>
      <h2>Weekly Benefit Amount (WBA)</h2>
      <p>Your weekly benefit amount, which is based on your highest quarter of earnings in your base period, is the amount that the EDD determines you will be paid for each week you are unable to work.</p>
      <p>In general, to calculate your weekly benefit amount:</p>
      <ol>
        <li>
          <strong>Confirm your claim start date.</strong>
          <p>Your claim begins on the date your family leave began. SDI calculates the weekly benefit amount using your base period. The date the family leave claim begins determines your base period.</p>
          <p>You may not change the beginning date of your claim or adjust a base period after establishing a valid claim. If you have any questions about your claim start date, please contact PFL at 1-877-238-4373 before filing your claim.</p>
        </li>
        <li>
          <strong>Determine your base period.</strong>
          <p>A base period covers 12 months and is divided into four consecutive quarters. The base period includes wages subject to SDI tax which were paid approximately 5 to 18 months before your family leave claim began. The base period does not include wages paid at the time your family leave begins. For a PFL claim to be valid, you must have at least $300 in wages in the base period. The following information may be used to determine the base period for your claim. If a claim begins on or after January 1, 2016:</p>
          <ul>
            <li>January, February, or March, the base period is the 12 months ending last September 30. (Example: A claim beginning February 14, 2016, uses a base period of October 1, 2014, through September 30, 2015.)</li>
            <li>April, May, or June, the base period is the 12 months ending last December 31. (Example: A claim beginning June 20, 2016, uses a base period of January 1, 2015, through December 31, 2015.)</li>
            <li>July, August, or September, the base period is the 12 months ending last March 31. (Example: A claim beginning September 27, 2016, uses a base period of April 1, 2015, through March 31, 2016.)</li>
            <li>October, November, or December, the base period is the 12 months ending last June 30. (Example: A claim beginning November 2, 2016, uses a base period of July 1, 2015, through June 30, 2016.)</li>  
          </ul>
          <p>Special base period: Under certain circumstances, the law permits substitution of wages paid in quarters prior to the normal base period of a claim in order to make a claim valid and/or increase the weekly benefit amount. You are eligible to use a special base period if your current base period was adversely affected by: military service, industrial disability, trade dispute, or long-term unemployment. You should contact PFL at 1-877-238-4373 to inquire and provide additional information if your situation fits any of these circumstances.</p>
        </li>
        <li>
          <strong>Estimate your weekly benefit amount.</strong>
          <p>The weekly benefit amount is determined by using the quarter in which you were paid the highest wages. Refer to the DI and PFL Weekly Benefits Chart for further information.</p>
          <p>Once you have verified the highest quarter’s wages, divide that number by 13 (the number of weeks in a quarter), multiply by .55 (the 55 percent of your income being replaced) and then round up to the nearest whole dollar. Using the example above, that would be:  $15,657÷13=$1,204.38×.55=$662.41. The $662.41 rounded up would be $663.00 weekly.</p>
          <p>You may also look at the Disability Insurance (DI) and Paid Family Leave (PFL) Weekly Benefits Amounts (DE 2588) or the Disability Insurance (DI) and Paid Family Leave (PFL) Weekly Benefit Amounts in Dollar Increments (DE 2589) for estimated benefit amounts</p>
        </li>
      </ol>

      <h2>What Affects Your Payments</h2>
      <p>Under certain circumstances, you may not be eligible for a period of your PFL claim or you may be entitled only to partial benefits. The EDD will determine if benefits must be reduced. Some income types must be reported to the EDD even though they may not always affect your benefits. In addition, your benefits may be reduced because of a prior Unemployment Insurance, PFL, or DI overpayment or for delinquent court-ordered child or spousal support payments. To avoid overpayment, penalties, and a false statement disqualification you must report all your income to the EDD.</p>
      <p>For more information about what can affect your payments, visit the following links:</p>
      <ul>
        <li><a href="#">Reporting Your Wages</a></li>
        <li><a href="#">Part-time / Intermittent / Reduced Work Schedule</a></li>
        <li><a href="#">Benefit Overpayments</a></li>
      </ul>      
    </div>
  </main>
  {% include site-footer.html %}
</body>