---
excerpt: none
---

{% include head.html %}
<body class="no-js layout-estimator layout-estimator-2">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main">
    <div class="wrapper">
      <div class="signpost">
        <span class="signpost-unit">Step</span>
        <strong class="signpost-current">2</strong>
        <span class="preposition">of</span>
        <strong class="signpost-total">3</strong>
      </div>
      <form action="{{site.baseurl}}/estimator/step-3" id="claim" method="get">
        <h1>Enter your earnings for the year preceding your claim, <strong><time>October 1st, 2015</time> through <time>September 30th, 2016</time>.</strong></h1>
        <div class="field field-number">
          <label>
            <span class="label-text">Annual salary during your base period</span>
            <input type="number" name="">
          </label>
        </div>
<!--             <fieldset>
          <legend>Quarterly earnings</legend>
          <div class="field field-number">
            <label>
              <span class="label-text">Your total earnings from January through March, 2015 (1/1/15 - 3/31/15)</span>
              <input type="number" name="">
              <span class="date-range">Q1</span>
            </label>
          </div>
          <div class="field field-number">
            <label>
              <span class="label-text">Your total earnings from April through June, 2015 (4/1/15 - 6/31/15)</span>
              <input type="number" name="">
              <span class="date-range">Q2</span>
            </label>
          </div>
          <div class="field field-number">
            <label>
              <span class="label-text">Your total earnings from July through September, 2015 (7/1/15 - 9/30/15)</span>
              <input type="number" name="">
              <span class="date-range">Q3</span>
            </label>
          </div>
          <div class="field field-number">
            <label>
              <span class="label-text">Your total earnings from October through December, 2015 (10/1/15 - 12/31/15)</span>
              <input type="number" name="">
              <span class="date-range">Q4</span>
            </label>
          </div>
        </fieldset>
-->        
        <button id="submit">Submit</button>        
        <p class="note"><strong>Note:</strong> This assumes that you make a consistent amount of money per month. If that&rsquo;s not the case, you should <a href="#">estimate your benefits based on the highest-grossing quarter during this period.</a></p>
      </form>
    <aside class="secondary-content">
     {% include estimator-aside.html %}
    </aside>
  </main>
  {% include form-handler.html %}
  {% include site-footer.html %}
</body>