---
excerpt: none
---

{% include head.html %}
<body class="no-js layout-estimator layout-estimator-2">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main">
    <div class="wrapper">
      <div class="signpost">
        <span class="signpost-unit">Step</span>
        <strong class="signpost-current">3</strong>
        <span class="preposition">of</span>
        <strong class="signpost-total">3</strong>
      </div>
      <h1>Your estimated weekly benefit is <strong>$400.</strong></h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      <p><a href="{{site.baseurl}}/estimator">Start over</a></p>
      <aside class="secondary-content">
       {% include estimator-aside.html %}
      </aside>
    </div>
  </main>
  {% include form-handler.html %}
  {% include site-footer.html %}
</body>