<section class="how-this-works">
  <h1>How this works</h1>
  <p>This estimator calculates the benefits you will receive based on the amount of money you make during <strong>the year preceding your claim date.</strong> This year-long period is also known as your base period. The estimator assumes a minimum wage of $12/hr ($21,120 per year).</p>
  <table>
    <thead>
      <tr>
        <th>If you earned&hellip;</th>
        <th>You are eligible for</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Less than $31,680</td>
        <td>90% of your weekly wages</td>
      </tr>
      <tr>
        <td>More than $31,680</td>
        <td>$609 per week + 50% of your weekly wages</td>
      </tr>
    </tbody>
  </table>
  <p>If you earned less than $31,680 (150% of the minimum wage) during your base period you are eligible to receive 90% of your weekly wages per week. If you earned more than $31,680 during your base period you are eligible to receive $609 per week (90% of 150% of minimum wage) <em>plus</em> 50% of your earnings. The maximum possible benefit is $1,000 per week.</p>

  <p class="note"><strong>Note:</strong> Under certain circumstances, you may substitute wages paid prior to your base period in order to make a claim valid and/or increase your weekly benefit amount. <a href="{{site.baseurl}}/contact">Contact us</a> if your base period was adversely affected by military service, industrial disability, trade dispute, or long-term unemployment.</p>
</section>