<section class="how-this-works">
  <h1>How this works</h1>
  <p>This estimator calculates the benefits you will receive based on the amount of money you made during the year preceding <strong>your claim date</strong> (your &ldquo;base period&rdquo;). It assumes that you file your claim 18 days before your benefits begin (18 days is the current length of time it takes us to process claims). Finally, the estimator assumes a minimum wage of $12/hr ($24,000 per year).</p>
  <table>
    <thead>
      <tr>
        <th>If you earned</th>
        <th>You are eligible for</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Less than $36,000</td>
        <td>90% of your weekly wages</td>
      </tr>
      <tr>
        <td>More than $36,000</td>
        <td>$623 per week + 50% of your weekly wages</td>
      </tr>
    </tbody>
  </table>
  <p>If you earned less than $36,000 (150% of the minimum wage) during your base period you are eligible to receive 90% of your weekly wages per week. If you earned more than $36,000 during your base period you are eligible to receive $623 per week (90% of 150% of minimum wage) <em>plus</em> 50% of your earnings. The maximum possible benefit is $1,000 per week.</p>

  <p class="note"><strong>Note:</strong> In some cases, you may substitute wages paid before your base period to make your claim valid or increase your benefit amount. <a href="{{site.baseurl}}/contact">Contact us</a> if your base period was adversely affected by military service, industrial disability, trade dispute, or long-term unemployment. (An <strong>industrial disability</strong> is one caused by a job-related injury or illness. A <strong>trade dispute</strong> is a dispute between your employer and you related to the terms of your employment. <strong>Long-term unemployment</strong> is unemployment of 27 weeks or more.)</p>
</section>