<section class="how-this-works">
  <h1>How this works</h1>
  <p>This calculator estimates the benefits you will receive based on the amount of money you make during the year preceding your claim date. This year-long period is known as your base period.</p>
  <p>You are eligible for 90% wage replacement if you earn less than 150% of the minimum wage during your base period. You are eligible to recceive 90% of 150% of minimum wage <em>plus</em> 50% of your earnings if you earn more than this. The maximum possible benefit is $1,000 per week. <a href="{{site.baseurl}}/estimator/rules">More information.</a></p>

  <p class="note"><strong>Note:</strong> Under certain circumstances, you may substitute wages paid prior to your base period in order to make a claim valid and/or increase your weekly benefit amount. <a href="{{site.baseurl}}/contact">Contact us</a> if your base period was adversely affected by military service, industrial disability, trade dispute, or long-term unemployment.</p>
</section>