<script src="/javascripts/tv4.min.js"></script>
<script src="/javascripts/jsonlint.min.js"></script>
<script>

var schema;
var form_schema = "/javascripts/schema.json";
$.getJSON(form_schema, function(data){
    schema = data;
});

function validate() {

    // Turn the form contents into JSON.
    var form_contents = JSON.stringify($("#claim").serializeArray());

    // Attempt to parse the JSON
    try {
        json = JSON.parse(form_contents);
    } catch (e) {
        $(".result pre").addClass("fail");
        try {
            var lint = jsonlint.parse(form_contents);
        } catch(e) {
            $(".result pre").html(e.message);
        }
        return;
    }

    // Validate.
    var result = tv4.validateMultiple(json, schema);
    if (result.errors.length === 0) {
        $(".result pre").append("Looks good!");
        $(".result pre").addClass("success");
    } else {
        $(".result pre").addClass("fail");
        $.each(result.errors, function(k,v){
            $(".result pre").append("Error in " + v.dataPath + ":\n" + v.message + "\n\n");
        });
    }
}

// Perform validation when form is submitted
$(function() {
    $("#claim").submit(function( event ) {
        validate();
    });
});

</script>
