<header class="site-header">
  <div class="wrapper">
    <h1 class="logo">
      <a href="{{site.baseurl}}/">
        <span class="logo-state-name">State name</span>
        <span class="logo-site-title">{{site.title}}</span>
      </a>
    </h1>
    <nav class="site-header-nav">
      <ul>
        <li class="nav-file-a-claim"><a href="#">File a claim</a></li>
        <li class="nav-check-claim-status"><a href="#">Check claim status</a></li>
        <li class="nav-employers"><a href="#">Employers</a></li>
        <li class="nav-healthcare-providers"><a href="#">Healthcare providers</a></li>
      </ul>        
    </nav>
  </div>
</header>