<footer class="site-footer" role="contentinfo">
  <div class="wrapper">
    <nav class="site-footer-nav">
      <ul>
        <li><a href="{{site.baseurl}}/eligibility">Eligibility</a></li>
        <li><a href="{{site.baseurl}}/employers">Employers</a></li>
        <li><a href="{{site.baseurl}}/healthcare-providers">Healthcare providers</a></li>
        <li><a href="{{site.baseurl}}/forms-and-publications">Forms and Publications</a></li>
        <li><a href="{{site.baseurl}}/">En Español</a></li>
      </ul>
    </nav>
    <nav class="site-footer-contact">
      <ul>
        <li><a href="{{site.baseurl}}/contact-us">Contact us</a></li>
        <li><a href="{{site.baseurl}}/conditions-of-use">Conditions of use</a></li>
        <li><a href="{{site.baseurl}}/privacy-policy">Privacy policy</a></li>
        <li><a href="{{site.baseurl}}/accessibility">Accessibility</a></li>
        <li><a href="https://github.com/18F/Paid-Leave-Prototype">Contribute to this site</a></li>
      </ul>
    </nav>
  </div>
</footer>
