<header class="prototype-header">
  <div class="wrapper">
    <h1>For demonstration purposes only.</h1>  
  </div>
</header>
<header class="site-header">
  <div class="wrapper">
    <h1 class="logo">
      <a href="{{site.baseurl}}/">
        <span class="logo-state-name">State name</span>
        <span class="logo-site-title">{{site.title}}</span>
      </a>
    </h1>
    <nav class="site-header-nav">
      <ul>
        <li class="nav-file-a-claim"><a href="{{ site.baseurl }}/claims/new">File a claim</a></li>
        <li class="nav-check-claim-status"><a href="{{ site.baseurl }}/claims/search">Check claim status</a></li>
        <li class="nav-estimator"><a href="{{ site.baseurl }}/estimator/">Estimate your benefits</a></li>
      </ul>        
    </nav>
  </div>
</header>