<header class="site-header">
  <div class="wrapper">
    <h1 class="logo">
      <a href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/images/logo/tts-square.png">
        {{site.title}}
      </a>
    </h1>
    <nav class="site-header-nav">
      <ul>
        <li class="nav-"><a href="#">About</a></li>
        <li class="nav-"><a href="#">Employer services</a></li>
        <li class="nav-"><a href="#">Find a job</a></li>
        <li class="nav-"><a href="#">File and manage a claim</a></li>
        <li class="nav-"><a href="#">News</a></li>
      </ul>        
    </nav>
  </div>
</header>