<footer class="site-footer" role="contentinfo">
  <div class="wrapper">
    <nav class="site-footer-nav">
      <ul>
        <li><a href="#">Employers</a></li>
        <li><a href="#">Healthcare providers</a></li>
        <li><a href="#">Forms and Publications</a></li>
        <li><a href="#">En Español</a></li>
      </ul>
    </nav>
    <nav class="site-footer-contact">
      <ul>
        <li><a href="{{site.baseurl}}/contact-us">Contact us</a></li>
        <li><a href="">Conditions of Use</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Accessibility</a></li>
        <li><a href="https://github.com/18F/Paid-Leave-Prototype">Contribute to this site</a></li>
      </ul>
    </nav>
  </div>
</footer>
