<footer id="navigation" class="site-footer" role="contentinfo">
  <div class="wrapper">
    <nav class="site-header-nav">
      <ul>
        <li class="nav-file-a-claim"><a href="{{ site.baseurl }}/claims/new/">File a claim</a></li>
        <li class="nav-check-claim-status"><a href="{{ site.baseurl }}/claims/search/">Check claim status</a></li>
        <li class="nav-estimator"><a href="{{ site.baseurl }}/estimator/">Estimate your benefits</a></li>
      </ul>        
    </nav>
    <nav class="site-footer-nav">
      <ul>
        <li><a href="{{site.baseurl}}/eligibility/">Eligibility</a></li>
        <li><a href="{{site.baseurl}}/employers/">Employers</a></li>
        <li><a href="{{site.baseurl}}/healthcare-providers/">Healthcare providers</a></li>
        <li><a href="{{site.baseurl}}/forms-and-publications/">Forms and publications</a></li>
        <li><a href="{{site.baseurl}}/">En Español</a></li>
      </ul>
    </nav>
    <nav class="site-footer-contact">
      <ul>
        <li><a href="{{site.baseurl}}/contact-us/">Contact us</a></li>
        <li><a href="{{site.baseurl}}/conditions-of-use/">Conditions of use</a></li>
        <li><a href="{{site.baseurl}}/privacy-policy/">Privacy policy</a></li>
        <li><a href="{{site.baseurl}}/accessibility/">Accessibility</a></li>
        <li><a href="https://github.com/18F/Paid-Leave-Prototype">Contribute to this site</a></li>
      </ul>
    </nav>
  </div>
</footer>
