---
excerpt: none
---

{% include head.html %}
<link href="{{site.baseurl}}/stylesheets/form.css" type="text/css" rel="stylesheet" />
<body class="no-js layout-claims layout-claims-how-it-works">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main" class="page">
    <div class="wrapper">
      <h1>How it works</h1>
      <p>A claim for benefits will typically involve the participation of four parties: the state department, the person claiming benefits &mdash; that&rsquo;s probably you &mdash; your employer, and your healthcare provider.</p>
      <ol class="steps">
        <li>Fill out and submit this form.</li>
        <li>We&rsquo;ll send along a code to give to your healthcare provider. Using this code, your healthcare provider will provide information relevant to your claim.</li>
        <li>We&rsquo;ll process your application. The average claims-processing time is currently <span class="average-claim-time">18 days</span>.</li>
        <li>You&rsquo;ll receive your benefits.</li>
      </ol>
      <p>If you have any questions, don&rsquo;t hesistate to <a href="#">contact us</a>. You can also <a href="#">read eligibility information</a>, <a href="#">estimate the benefits for which you qualify</a>, and  <a href="#">request a paper form</a>.</p>
    </div>
  </main>
  {% include site-footer.html %}
</body>