---
excerpt: none
---

{% include head.html %}
<link href="{{site.baseurl}}/stylesheets/form.css" type="text/css" rel="stylesheet" />
<body class="no-js layout-claims layout-claims-how-it-works">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main" class="page">
    <div class="wrapper">
    <a href="https://docs.google.com/document/d/1aShmYg2kSuTywG_PlV964xWL52XFhhN5lUDkBoFDLCg/edit#">Working on this in Google Docs</a>
    </div>
  </main>
  {% include site-footer.html %}
</body>