---
excerpt: none
---

{% include head.html %}
<link href="{{site.baseurl}}/stylesheets/form.css" type="text/css" rel="stylesheet" />
<body class="no-js layout-claims layout-claims-how-it-works">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main" class="page">
    <div class="wrapper">
      <h1>How it works</h1>
      <p>The paid family medical leave benefits-claims process involves the participation of multiple parties. This page identifies those parties and their respective responsibilities. It also sketches a timeline for navigating the benefits-claims process.</p>

      <h2>Roles and responsibilities</h2>
      <p>The following parties participate in a claim for paid family medical leave benefits:</p>
      <ul>
        <li>The person claiming benefits, also known as the <strong>claimant.</strong></li>
        <li>The claimant&rsquo;s <strong>healthcare provider.</strong></li>
        <li>The claimant&rsquo;s <strong>employer.</strong></li>
      </ul>

      <h3>Claimants</h3>
      <p>Claimants are responsible for determining their <a href="{{site.baseurl}}/eligibility/">eligibility</a> and coordinating leave with their employer and healthcare provider. Claimants may optionally <a href="{{site.baseurl}}/estimator/">estimate the benefits for which they are eligible</a>.</p>
      <p>Claimants must formally request paid family medical leave benefits by filing a claim with [State name] [Department name]. They can either <a href="{{site.baseurl}}/claims/new/">file a claim online</a>, which is preferred, or <a href="{{site.baseurl}}/forms-and-publications/">use a paper form</a>. </p>
      <p>Finally, claimants must coordinate with their healthcare provider in order to provide [State name] [Department name] with medical and/or diagnostic information related to their claim. </p>
      <h3>Healthcare providers</h3>
      <p>Healthcare providers are responsible for providing medical and diagnostic information relevant to their patient&rsquo;s (or their patient&rsquo;s caretaker&rsquo;s) claim for paid family medical leave benefits. More information is available on <a href="{{site.baseurl}}/healthcare-providers/">the healthcare providers page</a>.</p>
      <h3>Employers</h3>
      <p>Employers are responsible for helping the [State name] [Department name] validate their employee&rsquo;s claim for paid family medical leave benefits. More information is available on <a href="{{site.baseurl}}/employers/">the employers page</a>.</p>
      
      <h2>Timeline</h2>
      <h3>Filing online</h3>
      <table>
        <thead>
          <tr>
            <th class="col-party">Party</th>
            <th class="col-action">Action</th>
            <th class="col-estimated-time">Estimated time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-party">Claimant</td>
            <td class="col-action">Estimates the benefits for which they qualify</td>
            <td class="col-estimated-time">1 hour</td>
          </tr>
          <tr>
            <td class="col-party">Claimant</td>
            <td class="col-action">Files online</td>
            <td class="col-estimated-time">1 hour</td>
          </tr>
          <tr>
            <td class="col-party">[State name]</td>
            <td class="col-action">Does things</td>
            <td class="col-estimated-time">18 days</td>
          </tr>
        </tbody>
      </table>

      <h2>Appeals</h2>
      <p>Claimants have the right to appeal any decision regarding their claims to PFML benefits. Appeals should be submitted in writing to:</p>
      
      <div class="vcard">
        <span class="fn">PFML Appeals Coordinator</span>
        <div class="adr">
          <div class="street-address">P.O. Box 00000</div>
          <span class="locality">City</span>,
          <abbr class="region" title="st">ST</abbr>,
          <span class="postal-code">00000</span>
          <p><a href="tel:18005555555">1-800-555-5555</a></p>
        </div>       
      </div>
      <p>Each case will be assigned to a Referee (Hearing Officer) at the Board of Review. The Referee will schedule a hearing, at which time you may state your argument in detail. You may bring witnesses or someone to represent you. You should bring any documents or other evidence that will support your claim. The Board of Review is an impartial authority not under the direction of [state name].</p>
    </div>
  </main>
  {% include site-footer.html %}
</body>
