---
excerpt: none
---

{% include head.html %}
<link href="{{site.baseurl}}/stylesheets/form.css" type="text/css" rel="stylesheet" />
<body class="no-js layout-claims layout-claims-new">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main" class="page">
    <div class="wrapper">
      <h1>File a claim</h1>
      <form id="claim"></form>
      <div id="form-errors"></div>
      <aside>
        <h1>How does this work?</h1>
        <ol class="steps">
          <li>You&rsquo;ll fill out and submit this form. We&rsquo;ll provide a code to give to your healthcare provider.</li>
          <li>You&rsquo;ll notify your healthcare provider, who will provide information relevant to your claim. </li>
          <li>We&rsquo;ll process your application. You&rsquo;ll receive an email when we receive the package, and once it&rsquo;s been processed. (The average claims-processing time is currently 18 days.)</li>
          <li>You&rsquo;ll receive your benefits.</li>
        </ol>
        <p>If you have any questions, don't hesistate to <a href="#">contact us</a>. You can also <a href="#">read eligibility information</a>, <a href="#">estimate the benefits for which you qualify</a>, and  <a href="#">request a paper form</a>.</p>
      </aside>
    </div>
  </main>
  {% include site-footer.html %}
</body>

<script type="text/javascript" src="{{site.baseurl}}/javascripts/underscore.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/javascripts/jsonform.js"></script>
<script>

// Get the JSON Schema and form definitions
var json_form = $.get("{{site.baseurl}}/javascripts/form.json");
var json_schema = $.get("{{site.baseurl}}/javascripts/schema.json");

// When the schema and form are available, render the form
$.when(json_schema, json_form).done(function() {

    $('#claim').jsonForm({
        "schema": json_schema.responseJSON,
        "form": json_form.responseJSON,
        onSubmit: function (errors, values) {
          if (errors) {
            $('.form-errors').html('<p>Please fix the below errors.</p>');
          }
          else {
            // Set this to a valid endpoint to receive the JSON form contents.
            $.post('https://example.gov/', values);
          }
        }
    });
}).fail(function() {
  console.log('JSON schema could not be retrieved');
});

  </script>
