---
excerpt: none
---

{% include head.html %}
<body class="no-js layout-index">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main" class="page">
    <div class="wrapper">
      <form action="">
        <h1>eApply4UI - Application for Unemployment Insurance</h1>
        <p>Please answer the following questions to ensure you receive the correct Unemployment Insurance Application.</p>
        <fieldset class="fieldset fieldset-radio">
          <legend>Did you work in a state outside of California and/or Canada during the last 18 months?</legend>
          <div class="field field-radio">
            <label for="">
              <span class="label-text">Yes</span>
              <input type="radio" value="yes">
            </label>
          </div>
          <div class="field field-radio">
            <label for="">
              <span class="label-text">No</span>
              <input type="radio" value="no">
            </label>
          </div>
        </fieldset>
        <fieldset class="fieldset fieldset-radio">
          <legend>Have you applied for unemployment insurance benefits in another state or Canada during the last 12 months?</legend>
          <div class="field field-radio">
            <label for="">
              <span class="label-text">Yes</span>
              <input type="radio" value="yes">
            </label>
          </div>
          <div class="field field-radio">
            <label for="">
              <span class="label-text">No</span>
              <input type="radio" value="no">
            </label>
          </div>
        </fieldset>
        <fieldset class="fieldset fieldset-radio">
          <legend>Did your employer or union, or non-union trade association give you one of the following claim forms for unemployment insurance benefits?</legend>
          <ul>
            <li>Notice of Reduced Earnings, DE 2063</li>
            <li>Notice of Reduced Earnings (Fisherperson), DE 2063F</li>
            <li>Pacific Maritime Association Partial Evidence of Payment Form, PMA 2063</li>
            <li>Payment Certification (Work Sharing), DE 4581WS</li>
            <li>Initial Claim and Payment Certification (Work Sharing Employer), DE 4511WS</li>
          </ul>
          <div class="field field-radio">
            <label for="">
              <span class="label-text">Yes</span>
              <input type="radio" value="yes">
            </label>
          </div>
          <div class="field field-radio">
            <label for="">
              <span class="label-text">No</span>
              <input type="radio" value="no">
            </label>
          </div>
        </fieldset>
        <fieldset class="fieldset fieldset-radio">
          <legend>Did you serve in the military during the last 18 months?</legend>
          <div class="field field-radio">
            <label for="">
              <span class="label-text">Yes</span>
              <input type="radio" value="yes">
            </label>
          </div>
          <div class="field field-radio">
            <label for="">
              <span class="label-text">No</span>
              <input type="radio" value="no">
            </label>
          </div>
        </fieldset>
        <aside class="branch">
          <fieldset class="fieldset fieldset-radio">
            <legend>Are you currently present in California?</legend>
            <div class="field field-radio">
              <label for="">
                <span class="label-text">Yes</span>
                <input type="radio" value="yes">
              </label>
            </div>
            <div class="field field-radio">
              <label for="">
                <span class="label-text">No</span>
                <input type="radio" value="no">
              </label>
            </div>
          </fieldset>
        </aside>
        <fieldset class="fieldset fieldset-radio">
          <legend>Did you work for an agency of the federal government during the last 18 months?</legend>
          <div class="field field-radio">
            <label for="">
              <span class="label-text">Yes</span>
              <input type="radio" value="yes">
            </label>
          </div>
          <div class="field field-radio">
            <label for="">
              <span class="label-text">No</span>
              <input type="radio" value="no">
            </label>
          </div>
        </fieldset>
        <fieldset class="fieldset fieldset-radio">
          <legend>Have you filed an Unemployment Insurance Claim in California in the last 12 months?</legend>
          <div class="field field-radio">
            <label for="">
              <span class="label-text">Yes</span>
              <input type="radio" value="yes">
            </label>
          </div>
          <div class="field field-radio">
            <label for="">
              <span class="label-text">No</span>
              <input type="radio" value="no">
            </label>
          </div>
        </fieldset>
        <p>Note: The answers you give to the questions on the application must be true and correct.</p>
        <p>You may be subject to penalties if you make a false statement or withhold information.</p>
        <button>Continue</button>        
      </form>
    </div>
  </main>
  {% include site-footer.html %}
</body>


