---
title: Check Claim Status
---

{% include head.html %}
<body class="no-js layout-claims-search">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main" class="page">
    <div class="wrapper">
      <h1>Check claim status</h1>
      <p>Please provide the email address you used when filing the claim. We’ll send along a link to the check the status.</p>
      <form action="{{ site.baseurl }}/claims/search/results/" class="form-search">
        <div class="field">
          <label>
            <span class="label-text">Email address</span>
            <input type="email" required>
          </label>
        </div>
        <button>Search claims</button>
      </form>
      <p class="note">You may also check the status of a claim by calling us at <a href="tel:8005555555">800-555-5555</a> during our normal business hours, 9am to 5pm EST, Monday through Friday (excluding holidays).</p>
    </div>
  </main>
  {% include site-footer.html %}
</body>