---
excerpt: none
---

{% include head.html %}
<body class="no-js layout-claims-show">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main">
    <div class="wrapper">
      <section class="claim page">
        <h1>Claim #123456</h1>
        <section>
          <h1>Claim information</h1>
          <dl>
            <dt>Reason for claim</dt>
            <dd>Bond with a newborn or newly adopted child.</dd>
            <dt>Claim start date</dt>
            <dd>09/29/2017</dd>
          </dl>
        </section>
        <section>
          <h1>Person claiming benefits</h1>
          <dl>
            <dt>Name</dt>
            <dd>
              <dl>
                <dt>First</dt>
                <dd>Johnny</dd>
                <dt>Middle</dt>
                <dd>A.</dd>
                <dt>Last</dt>
                <dd>Appleseed</dd>
              </dl>
            </dd>
            <dt>Mailing address</dt>
            <dd>
              <dl>
                <dt>Street address</dt>
                <dd>123 Anywhere street</dd>
                <dt>City</dt>
                <dd>Sometown</dd>
                <dt>State</dt>
                <dd>ST</dd>
                <dt>Postal code</dt>
                <dd>00000</dd>
              </dl>
            </dd>
          </dl>
        </section>
      </section>
      <aside>
        <h1>Actions</h1>
        <a href="#" class="button">Download</a>
        <h1>Payment</h1>
        <p>Benefits will be paid via <strong>direct deposit</strong> to your bank account ending in <strong>1049</strong>. The next payment is <time>September 29th, 2017</time>. 
        <h1>Timeline</h1>
        <dl>
          <dt>12/3/2016</dt>
          <dd>Application submitted</dd>
          <dd>Verification code: 012439</dd>
          <dt>12/7/2016</dt>
          <dd>Supplemental information submitted by healthcare provider</dd>
          <dt>12/21/2016</dt>
          <dd>Application processed by state</dd>
        </dl>
      </aside>
    </div>
  </main>
  {% include site-footer.html %}
</body>
