---
excerpt: none
---

{% include head.html %}
<body class="no-js layout-claim">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main" class="page">
    <div class="wrapper">

        <h1>Check claim status</h1>
        <p>Some basic information about the claim process, such as how claims work, lead time, when it can begin, how long it usually takes, etc.</p>
        
        <ul>
          <li><a href="#">Sign in and check claim online</a></li>
          <li>Check status by phone: 555-555-5555 [some information about office hours, wait times, etc.]</li>
        </ul>

    </div>
  </main>
  {% include site-footer.html %}
</body>
