---
title: File a Claim
---

{% include head.html %}
<link href="{{site.baseurl}}/stylesheets/form.css" type="text/css" rel="stylesheet" />
<body class="no-js layout-claims layout-claims-verify">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main" class="page">
    <div class="wrapper">
      <h1>File a claim, step 2: healthcare verification</h1>
      <p>Your information was successfully submitted. Please provide the claimant’s healthcare provider with their last name and the following verification code:</p>

      <span class="claim-verification-code">012439</span>

      <p>For more information, ask them to visit <a href="{{site.baseurl}}/healthcare-providers/">the healthcare providers page</a> of this site. We’ll begin processing your claim as soon as we hear from your healthcare provider.</p>
      <section class="claim page">
        <h1>Claim #123456</h1>
        <a href="#" class="button">Download</a>
        <section>
          <h1>Claim information</h1>
          <dl>
            <dt>Reason for claim</dt>
            <dd>Bond with a newboard or newly adopted child.</dd>
            <dt>Claim start date</dt>
            <dd>09/29/2017</dd>
          </dl>
        </section>
        <section>
          <h1>Person claiming benefits</h1>
          <dl>
            <dt>Name</dt>
            <dd>
              <dl>
                <dt>First</dt>
                <dd>Jonathan</dd>
                <dt>Middle</dt>
                <dd>Dalton</dd>
                <dt>Last</dt>
                <dd>Wilson</dd>
              </dl>
            </dd>
            <dt>Mailing address</dt>
            <dd>
              <dl>
                <dt>Street address</dt>
                <dd>123 Market St.</dd>
                <dt>City</dt>
                <dd>Springfield</dd>
                <dt>State</dt>
                <dd>ST</dd>
                <dt>Postal code</dt>
                <dd>20210</dd>
              </dl>
            </dd>
          </dl>
        </section>
      </section>
    </div>
  </main>
  {% include site-footer.html %}
</body>
