---
excerpt: none
title: Healthcare Provider Verification
---

{% include head.html %}
<link href="{{site.baseurl}}/stylesheets/form.css" type="text/css" rel="stylesheet" />
<body class="no-js layout-claims layout-claims-verify-3">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main" class="page">
    <div class="wrapper">
      <h1>Healthcare provider verification complete</h1>
      <p>Thanks for submitting information relevant to [claimant]’s claim for PFML benefits. Your responses, which appear below, were successfully recorded (you may <a href="#">print this page for your records</a>). Our office will contract you should we require additional information.</p>

      <h2>Claim-verification details</h2>
      <h3>Person claiming benefits</h3>
      <dl>
        <dt>Name</dt>
        <dd>
          <dl>
            <dt>First</dt>
            <dd>Johnny</dd>
            <dt>Middle</dt>
            <dd>A.</dd>
            <dt>Last</dt>
            <dd>Appleseed</dd>
          </dl>
        </dd>
      </dl>
      <h3>Physician</h3>
      <dl>
        <dt>Name</dt>
        <dd>
          <dl>
            <dt>First</dt>
            <dd>Rodrigo</dd>
            <dt>Middle</dt>
            <dd>James</dd>
            <dt>Last</dt>
            <dd>Menendez</dd>
          </dl>
        </dd>
        <dt>Mailing address</dt>
        <dd>123 Anywhere St.</dd>
        <dt>Type or speciality</dt>
        <dd>General practitioner</dd>
        <dt>License</dt>
        <dd>
          <dl>
            <dt>Number</dt>
            <dd>123ABC</dd>
            <dt>State or country where licensed</dt>
            <dd>United States</dd>
          </dl>
        </dd>
      </dl>
      <h3>Patient</h3>
      <dl>
        <dt>Diagnosis</dt>
        <dd>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </dd>
        <dt>Primary ICD code</dt>
        <dd>123ABC</dd>
        <dt>Secondary ICD code</dt>
        <dd>456DEF</dd>
        <dt>Date first care needed</dt>
        <dd><time>12/23/2014</time></dd>
        <dt>Date you expect recovery</dt>
        <dd>N/A</dd>
        <dt>Hours per day will patient require claimant</dt>
        <dd>4 hours</dd>
      </dl>
    </div>
  </main>
  {% include site-footer.html %}
</body>