---
excerpt: none
---

{% include head.html %}
<body class="no-js layout-claim">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header.html %}
  <main role="main" id="main" class="page">
    <div class="wrapper">

        <h1>Claims</h1>
        <p>Some basic information about the claim process, such as how claims work, how long it usually takes, hiccups that may occur, etc.</p>
        
        <table>
          <thead>
            <tr>
              <th>Filed on</th>
              <th>State point of contact</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr class="archived">
              <td>November 11th, 2011</td>
              <td>Janet Martinez</td>
              <td class="status">Archived</td>
              <td class="action">Export as PDF</td>
            </tr>
            <tr>
              <td>September 29, 2016</td>
              <td>Trish Brown</td>
              <td class="status">Additional information requested</td>
              <td class="action">Respond to inquiry</td>
            </tr>
          </tbody>
        </table>

        <p>Check status by phone: 555-555-5555 [some information about office hours, wait times, etc.]</p>

        <h2>Your Information (edit)</h2>
        <p><strong>Dwayne Smith</strong><br>
        123 Main St.<br>
        Clinton, ST 55555
        </p>

        <h2>Direct deposit (edit)</h2>
        <p><strong>On</strong>. Benefits will be deposited to your bank account editing in <strong>1049</strong>.</p>

    </div>
  </main>
  {% include site-footer.html %}
</body>
