/* @override http://localhost:4000/stylesheets/form.css */


/* Inline instructions, providing guidance about how to complete a section. */
.instructions {
    font-size: 15px;
    font-family: Merriweather, Georgia, serif;
    line-height: 1.67em;
    margin-bottom: 1.4em;
}

.layout-claims-new form > div{   	
	padding: 0 16px 32px;
    background: #f5f4ee;
    margin-bottom: 4em;
    position: relative;
}

.layout-claims-new form > div > button{ 
	position: absolute;
	top: 100%;
	left: 0;
	margin-top: 1em;
}

.layout-claims-new form h2 {
    font-weight: 600;
    font-size: 18px;
    font-family: Merriweather, Georgia, serif;
    padding: 32px 0 8px;
  	color: #234c00;
    position: relative;
    background: white;
    margin: 0 -16px 20px;
    border-bottom: 3px solid #67a133;
}

.layout-claims-new form h2:first-of-type{
	padding-top: 0;
}

#claim h3 {
    margin: 0 0 16px;
    font-size: 18px;
    clear: both;
}

#claim h2::after{
	content: "";
	height: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	border-bottom: 3px solid #67a133;
	z-index: -1;
	
}

/* @group widths */

input[name="claimant.ssn"],
input[type=date],
input[name="claimant.telephone"],
.language .controls { max-width: 12em; }

.email input{ max-width: 75%; }

/* @end */

.control-group{ margin: 0 0 28px; }
.control-group .controls{ position: relative; }

.control-group .controls select {
    min-width: 0;
    background: white;
    padding-right: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 1.2;
    width: 100%;
}

.field-select::after,
.reason .controls::after,
.relationship.type .controls::after,
.country .controls::after,
.language .controls::after {
    content: "";
    border: 6px solid black;
    position: absolute;
    right: 8px;
    bottom: 0;
    margin-bottom: 9px;
    border-color: #aaa transparent transparent transparent;
    z-index: 1;
}

.field-select:hover > select,
.reason .controls:hover > select,
.relationship.type .controls:hover > select,
.country .controls:hover > select,
.language .controls:hover > select{
    border-color: #aaa;
}
.field-select:hover::after,
.reason .controls:hover::after,
.relationship.type .controls:hover::after,
.country .controls:hover::after,
.language .controls:hover::after{
    border-top-color: #888;
}

.field .help-text,
.p-customize-timeline {
    font-size: 14px;
    line-height: 1.33em;
    display: block;
    margin-top: 8px;
}


.field input:focus,
.field select:focus,
.field textarea:focus,
.control-group input:focus,
.control-group select:focus,
.control-group textarea:focus{
    border-color: #1188ff;
    box-shadow: 0 0 0 1px rgba(17, 136, 255, 0.15);
    outline: none;
}

.controls label.radio {
    display: inline-block;
    padding: 8px 12px 8px 12px;
    min-height: 32px;
    line-height: 1;
    vertical-align: middle;
    background: white;
    border: 1px solid #bbb;
    border-radius: 3px;
	text-transform: capitalize;
	margin-right: 0.4em;
}

.controls label.radio input{
	margin-right: 0.4em;
	font-size: 14px;
	line-height: 18px;
	position: relative;
	top: -1px;
}

.control-group .control-label,
form > div > fieldset fieldset > legend {
	line-height: 1.25em;
    margin-bottom: 0.7em;
    display: block;
    color: #222;
}

/* @group name */

.control-group.name{
	width: 32%;
	margin-right: 2%;
	float: left;
}

.control-group.name.name-last{ margin-right: 0; }
.control-group.name .control-label{
    font-size: 16px;
    color: #534a43;
}

/* @end */


/* @group address */

.control-group.address .control-label{ 
    font-size: 16px;
    color: #534a43;

}

.control-group.city,
.control-group.state,
.control-group.zip {
    float: left;
    margin-right: 2%;
}

.control-group.city { width: 50%; }

.control-group.state,
.control-group.zip { width: 23%; }

.control-group.zip { margin-right: 0; }

.control-group.country {
	clear: both;
	margin-bottom: 44px;
}


/* @end */
/* @group layout-claims */


/* @group layout-claims-new */

.layout-claims-new main > .wrapper > h1{
  font-size: 32px;
}

.layout-claims-new aside h1{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 16px;
  letter-spacing: normal;
}
.layout-claims-new aside li,
.layout-claims-new aside p {
    margin-bottom: 0.5em;
    line-height: 1.25em;	
    margin-left: 0;
}
.layout-claims-new main form footer button {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    padding: 12px 20px;
    border-width: 2px;
    margin-bottom: 2em;
}

/* @end */



/* @group claim information */

.control-group.employer.name{
	float: none;
	width: auto;
	margin-right: 0;
}


/* @end */

/* @group employment information */



/* @end */


.layout-claims main button {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    border-width: 2px;
    margin-bottom: 1em;
}

@media screen and (min-width: 711.111px) {
	
	.layout-claims-new main > .wrapper > h1{
  		font-size: 32px;
	}

    #jsonform-0-elt-claimant\.name,
    #jsonform-0-elt-dependent\.name{
	margin-right: -2%;
	}

    #jsonform-0-elt-claimant\.name .control-group,
    #jsonform-0-elt-dependent\.name .control-group {
        width: 33%;
        float: left;
        margin-bottom: 0;
    }
    #jsonform-0-elt-claimant\.name .controls,
    #jsonform-0-elt-dependent\.name .controls,
    .fieldset-name .controls {
	margin-right: 6%;
    }

	.layout-claims form{
		float: left;
		width: 480px;
	}

	.layout-claims aside{
		float: left;
		font-size: 16px;
		color: #505050;
		width: 290px;
		margin-left: 28px;
		margin-top: -6px;
	}
	
	.layout-claims aside h1{
		color: #444;
	}
	
	.layout-claims-new aside p {
		font-size: 14px;
		color: #444;
	}
	.layout-claims aside a{
		color: inherit;
	}
	
    
}

/* @end */
