---
excerpt: none
---

{% include head.html %}
<body class="no-js layout-claim-new">
  <a class="a-skip-to-main" href="#main">Skip to main content</a>
  {% include site-header-claims-new.html %}
  <main role="main" id="main" class="page">
    <div class="wrapper">
      <form action="{{site.baseurl}}/calculator/step-2" id="claim" method="get">
        <h1>Which of the following best describes <strong>the reason for your claim?</strong> <span class="instructions">(select one)</span></h1>
        <fieldset class="fieldset fieldset-radio fieldset-claim-reason">
          <legend>Claim reasons</legend>
            <div class="field field-radio field-gender-male">
              <label>
                <input type="radio" name="claim_reason" value="bond-with-a-child">
                <span class="label-text">I need to bond with a newborn or newly adopted child.</span>
              </label>
            </div>
            <div class="field field-radio field-gender-female">
              <label>
                <input type="radio" name="claim_reason" value="self-care">
                <span class="label-text">Female</span>
              </label>
            </div>
            <div class="field field-radio field-gender-other">
              <label>
                <input type="radio" name="claim_reason" value="care-for-a-family-member">
                <span class="label-text">Other</span>
              </label>
            </div>
          </fieldset>
        <button id="submit">Submit</button>        
      </form>
    </div>
  </main>
  {% include form-handler.html %}
  {% include site-footer.html %}
</body>
